#navigation-container {
  width: 100%;
  height: 8%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: none; /* Remove transition effect */
  overflow: visible; /* Allow overflow for dropdown */
}

/* Display nav-item-name normally */
.nav-item-name {
  display: block;
  opacity: 1;
  transition: none; /* Remove opacity transition */
}

.search-input {
  display: block;
  opacity: 1;
  transition: none; /* Remove opacity transition */
}

.search-icon {
  display: none;
  transition: none; /* Remove opacity transition */
}

.nav-link {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

/* Dropdown menu styles */
.dropdown-menu {
  position: absolute;
  top: 100%; /* Ensures the dropdown opens downwards */
  right: 0;
  margin-top: 0.5rem;
  background-color: white;
  color: gray;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1000;
  min-width: 10rem;
  overflow: visible; /* Ensure overflow is visible */
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu a {
  display: block;
  padding: 0.5rem 1rem;
  color: inherit;
  text-decoration: none;
}

.dropdown-menu a:hover {
  background-color: #f0f0f0;
}